{% extends 'base.html.twig' %}

{% block title %}Consommation
{% endblock %}

{% block stylesheets %}
{{ parent()}}
{{ encore_entry_link_tags('empty') }}
{% endblock %}

{% block body %}
<div class="modal" id="myModal" style="display: block;">
<div class="modal-content">
<h1 class="text-primary">Voulez-vous consommer cette
</br>
référence</h1>
<p class="text-primary"><span class="text">SKU :</span>
{{ stock.SKU }}</p>
            <p class="text-primary"><span class="text">Description :</span>
{{ stock.description }}</p>

            <p class="text-primary"><span class="text">Ref :</span>
          {{ stock.reference }}
            </p>
            <p class="text-primary"><span class="text">Dimensions :</span>
{{ stock.size1Name }} : {{ stock.size1 }} {{ stock.size1Unit }} /
            {{ stock.size2Name }} : {{ stock.size2 }} {{ stock.size2Unit }}</p>

<p class="card-text"><span class="span-text">Aire calculée </span></br> 
                                        {% if  stock.size1unit == "mm"  and  stock.size2Unit == "m"  %}
                                            {{ (stock.size1 / 1000)  *  stock.size2 }} m²
                                        {% elseif  stock.size1Unit == 'unité'  and  stock.size2Unit == 'mL'  %}
                                            {{ (stock.size1 * (stock.size2 / 1000 )) }} L
                                        {% elseif  stock.size1Unit == 'mm'  and  stock.size2Unit == 'mm'  %}
                                            {{ (stock.size1 * stock.size2) / 1000000 }} m²
                                        {% endif %}

</p>
<div class="row">
<div class="col">
                <a href="/scan/empty" class="correction btn text-primary">Corriger</a>
            </div>
<div class="col">
                <form action="/empty/template" method="POST">
                    <input type="hidden" name="SKU" value="{{ stock.SKU }}" />
                    <input type="submit" class="confirmation btn btn-primary text-light" value="Je confirme"/>
                </form>
            </div>
</div>
</div>
</div>


<script>
var modal = document.getElementById("myModal");
var closeModal = document.getElementById("closeModal");

// Fonction pour ouvrir la modal
function openModal() {
modal.style.display = "block";
}

// Fonction pour fermer la modal
function closeModal() {
modal.style.display = "none";
}

// Ouvrir la modal lorsque la page est entièrement chargée
document.addEventListener("DOMContentLoaded", function () {
openModal();
});

// Fermer la modal lorsque l'utilisateur clique sur le bouton de fermeture
closeModal.onclick = function () {
closeModal();
}

// Fermer la modal lorsque l'utilisateur clique en dehors de la modal
window.onclick = function (event) {
if (event.target == modal) {
closeModal();
}
}
</script>{% endblock %}