{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
<form method="post" class="formLogin">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Tu es connecté sous
                {{ app.user.userIdentifier }},
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <section class="vh-90 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-primary text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-0">

                                    <h2 class="fw-bold mb-2 text-uppercase">Connexion</h2>
                                    <p class="text-white mb-5">Entrez votre email et votre mot de passe</p>

                                    <div class="form-outline form-white mb-4">
                                    <label for="inputEmail">Email</label>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                    <label for="inputPassword">Mot de passe</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    </div>

                                    <p class="small mb-5 pb-lg-2">
                                        <a class="text-white-50" href="#!">Mot de passe oublié ?</a>
                                    </p>

                                    <button class="btn bg-primary btn-outline-dark text-dark btn-lg px-5 mb-5" type="submit">Se connecter</button>

                                    <a href="/"  class=" text-dark px-5" type="submit">Retour</a>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}
