{% extends 'base.html.twig' %}

{% block title %}Modification
{% endblock %}


{% block stylesheets %}
{{ parent()}}
{{ encore_entry_link_tags('gestion') }}
{% endblock %}

{% block body %}
{% include 'home/index.html.twig' %}
<section class="all-new-product">
<section class="container">
<h1 class="modif-title fw-bold text-primary my-5">Modifier un produit de la consommation</h1>

{{ form_start(form) }}
<div class="my-custom-class-for-errors">
{{ form_errors(form) }}
</div>
<div class="row">
<div class="col">
<div class="input-marge">
{{ form_row(form.SKU, {'attr': {'read_only': true, 'readonly': true}}) }}
</div>

{{ form_row(form.productFamily) }}

<div class="input-marge">
{{ form_row(form.price) }}
</div>

{{ form_row(form.size1) }}
</div>
<div class="col">
<div class="input-marge">
{{ form_row(form.description) }}
</div>
{{ form_row(form.reference) }}
<div class="input-marge">
{{ form_row(form.status) }}
</div>
{{ form_row(form.size2) }}
</div>
</div>
<div class="row">
<div class="col">

{{ form_row(form.size1Unit) }}
</div>
<div class="col">

{{ form_row(form.size1Name) }}
</div>
<div class="col">
<div class="input-marge">
{{ form_row(form.size2Unit) }}
</div>
</div>
<div class="col">

{{ form_row(form.size2Name) }}

</div>
<div class="row">
{{ form_row(form.timestamp)}}
</div>

<div class="row">
{{ form_row(form.movementType)}}
</div>
</div>

<div class="row">
<div class="col-6">
<div class="modif-suppr">
<a href="#">
<button type="submit" class="bt-return btn bg-primary text-white">Modifier</button>
</a>
</div>
</div>
<div class="col-6 suppr-modif ">
{{ form_end(form) }}
{{ include('tracking/_delete_form.html.twig') }}
</div>
</div>
</section>
</section>
{% endblock %}