{% extends 'base.html.twig' %}

{% block title %}Tracking{% endblock %}

{% block body %}
    <h1>Tracking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tracking.id }}</td>
            </tr>
            <tr>
                <th>SKU</th>
                <td>{{ tracking.SKU }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tracking.description }}</td>
            </tr>
            <tr>
                <th>Size1</th>
                <td>{{ tracking.size1 }}</td>
            </tr>
            <tr>
                <th>Size2</th>
                <td>{{ tracking.size2 }}</td>
            </tr>
            <tr>
                <th>Size1Unit</th>
                <td>{{ tracking.size1Unit }}</td>
            </tr>
            <tr>
                <th>Size2Unit</th>
                <td>{{ tracking.size2Unit }}</td>
            </tr>
            <tr>
                <th>Size1Name</th>
                <td>{{ tracking.size1Name }}</td>
            </tr>
            <tr>
                <th>Size2Name</th>
                <td>{{ tracking.size2Name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ tracking.price }}</td>
            </tr>
            <tr>
                <th>ProductFamily</th>
                <td>{{ tracking.productFamily }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ tracking.reference }}</td>
            </tr>
            <tr>
                <th>Free</th>
                <td>{{ tracking.free }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ tracking.comment }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ tracking.timestamp ? tracking.timestamp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MovementType</th>
                <td>{{ tracking.movementType }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ tracking.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tracking_index') }}">back to list</a>

    <a href="{{ path('app_tracking_edit', {'id': tracking.id}) }}">edit</a>

    {{ include('tracking/_delete_form.html.twig') }}
{% endblock %}
