{% extends 'base.html.twig' %}

{% block title %}Stock index
{% endblock %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('stock') }}
{% endblock %}

{% block body %}
	{% include 'home/index.html.twig' %}
	<section class="all-stock">
		<section class="container">
			<h1 class="my-5 fw-bold text-primary">Stock</h1>

			<div class="row mb-4">
				<div class="col-9">
					{{ form_start(form) }}
					<div class="row">
						<div class="col">
							{{ form_widget(form) }}
						</div>
						<div class="col">
							<button class="bout-search btn btn-tertiary mt-4">{% include 'icons/search.svg' %}</button>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
				<div class="col-3">

					<a type="button" href="/export/table" class="btn btn-lg mt-4 btn-outline-primary text-primary py-1">
						{% include 'icons/Download.svg' %}
						&nbsp Exporter
					</a>

				</div>
			</div>

			<table class="table">
				<thead>
					<tr>
						<th class="border-top-0 border-bottom-0">SKU</th>
						<th class="border-top-0 border-bottom-0">Description</th>
						<th class="border-top-0 border-bottom-0">Dimension</th>
						<th class="border-top-0 border-bottom-0">Résultat</th>
						<th class="border-top-0 border-bottom-0">Prix</th>
						<th class="border-top-0 border-bottom-0">Famille produit</th>
						<th class="border-top-0 border-bottom-0">Référence</th>																																																																			               
						<th class="border-top-0 border-bottom-0">Status</th>
					</tr>
				</thead>
				<tbody>
					{% for stock in stocks %}
						<tr>
							<td class="border-top-0">{{ stock.SKU }}</td>
							<td class="border-top-0">{{ stock.description }}</td>
							<td class="border-top-0">
								{{ stock.size1Name }}&nbsp;:
								{{ stock.size1 }}
								{{ stock.size1Unit }}
								x
								{{ stock.size2Name }}&nbsp;:
								{{ stock.size2 }}
								{{ stock.size2Unit }}
							</td>
							<td class="border-top-0">
							{% if  stock.size1unit == "mm"  and  stock.size2Unit == "m"  %}
							  {{ (stock.size1 / 1000)  *  stock.size2 }} m²
							  {% elseif  stock.size1Unit == 'unité'  and  stock.size2Unit == 'L'  %}
							 {{ (stock.size1 * stock.size2) }} L
							 {% endif %}
							  </td>
							<td class="border-top-0">{{ stock.price }}&nbsp;€</td>
							<td class="border-top-0">{{ stock.productFamily }}</td>
							<td class="border-top-0">{{ stock.reference }}</td>																																																																																					              
							<td class="border-top-0">
								{% if stock.status == "Inutilisable" %}
									<span class="badge custom-w p-2 px-3 text-bg-danger text-white">Inutilisable</span>
								{% else %}
									<span class="badge custom-w p-2 px-3 text-bg-success text-secondary">Utilisable</span>
								{% endif %}
							</td>

							<td class="border-top-0">
								<a type="button" class="text-black" href="{{ path('app_stock_edit', {'id': stock.id }) }}">
									{% include 'icons/edit.svg' %}
								</a>
							</td>


						</tr>
					{% else %}
						<tr>
							<td colspan="17">Aucun ligne de stock récuperée</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	</section>
{% endblock %}
