{% extends 'base.html.twig' %}

{% block title %}Réception
{% endblock %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('gestion') }}
{% endblock %}

{% block body %}
	{% include 'home/index.html.twig' %}
	<section class='all-new-product'>
		<section class="container">
			<a href="/gestion" class="return">
				< Retour à la gestion du stock
			</a>
			<h1 class="title-enter-stock fw-bold text-primary">Nouvelle référence</h1>
			{{ form_start(form) }}
			<div class="my-custom-class-for-errors">
				{{ form_errors(form) }}
			</div>
			<div class="row">
				<div class="col">
					{{ form_row(form.SKU) }}
					{{ form_row(form.description) }}

					{{ form_row(form.price) }}

					{{ form_row(form.size1) }}
				</div>
				<div class="col">
					{{ form_row(form.productFamily) }}
					{{ form_row(form.reference) }}
					{{ form_row(form.status) }}
					{{ form_row(form.size2) }}
				</div>
			</div>
			<div class="row">
				<div class="col">

					{{ form_row(form.size1Unit) }}
				</div>
				<div class="col">

					{{ form_row(form.size1Name) }}
				</div>
				<div class="col">

					{{ form_row(form.size2Unit) }}
				</div>
				<div class="col">

					{{ form_row(form.size2Name) }}

				{# <div class="row">

					{{ form_row(form.resultUnit) }}
				</div> #}
				</div>
			</div>

			<div class="col-6">
				<a href="/reference"><button type="submit" class="bt-return btn btn-lg bg-primary text-white">Suivant</button></a>
			</div>
		
			{{ form_end(form) }}

		</section>
	</section>
{% endblock %}
