{% extends 'base.html.twig' %}

{% block title %}Réception
{% endblock %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('gestion') }}
{% endblock %}

{% block body %}
	{% include 'home/index.html.twig' %}
	<section class='all-new-product'>
		<section class="container">
			<div class="return-to-home">
			<a href="/gestion" class="return">
				< Retour à la gestion du stock
			</a>
			<h1 class="title-enter-stock fw-bold text-primary">Nouvelle référence</h1>
			</div>
			<div class="stock-form">
			{{ form_start(form) }}
			<div class="my-custom-class-for-errors">
				{{ form_errors(form) }}
			</div>
			<div class="row">
				<div class="col">

					<div class="input-marge">{{ form_row(form.description) }}</div>

					<div class="input-marge">
					{{ form_row(form.productFamily, {'attr': {'id': 'productFamilyInput'}}) }}

					{{ form_row(form.price) }}
					</div>
					
					{{ form_row(form.size1) }}
				</div>
				<div class="col">
					<div class="gap"></div>
					<div class="input-marge">
					{{ form_row(form.reference) }}
					{{ form_row(form.status) }}
					</div>
					{{ form_row(form.size2) }}
				</div>
			</div>
			<div class="row">
				<div class="col">

					{{ form_row(form.size1Unit, {'attr': {'id': 'size1UnitInput'}}) }}
				</div>
				<div class="col">

					{{ form_row(form.size1Name, {'attr': {'id': 'size1NameInput'}}) }}
				</div>
				<div class="col">

					{{ form_row(form.size2Unit, {'attr': {'id': 'size2UnitInput'}}) }}
				</div>
				<div class="col">

					{{ form_row(form.size2Name, {'attr': {'id': 'sier2NameInput'}}) }}

				{# <div class="row">

					{{ form_row(form.resultUnit) }}
				</div> #}
				</div>
			</div>

			<div class="col-12 suivant">
				<a href="/reference"><button type="submit" class="bt-return btn  bg-primary text-white">Suivant</button></a>
			</div>
		
			{{ form_end(form) }}
			</div>

		</section>
	</section>


	<script>
		let productFamilyInput = document.getElementById('stock_productFamily')
		let size1Unit = document.getElementById('stock_size1Unit')
		// let size1Name = document.getElementById('stock_size1Name')
		let size2Unit = document.getElementById('stock_size2Unit')
		// let size2Name = document.getElementById('stock_size2Name')

		productFamilyInput.addEventListener('change', function(e) {
			let selectedValue = productFamilyInput.value;

    		if (selectedValue === 'Liquide') {
        	size1Unit.value = 'unité';
        	size2Unit.value = 'mL';
			} else {
        	// Si la valeur n'est pas 'Liquide'
       		size1Unit.value = 'mm';  // Par exemple, videz le champ size1Unit
        	size2Unit.value = 'm';  // Par exemple, videz le champ size2Unit
    }
});
	</script>

{% endblock %}
