{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <h1>Stock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock.id }}</td>
            </tr>
            <tr>
                <th>SKU</th>
                <td>{{ stock.SKU }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stock.description }}</td>
            </tr>
            <tr>
                <th>Size1</th>
                <td>{{ stock.size1 }}</td>
            </tr>
            <tr>
                <th>Size2</th>
                <td>{{ stock.size2 }}</td>
            </tr>
            <tr>
                <th>Size1Unit</th>
                <td>{{ stock.size1Unit }}</td>
            </tr>
            <tr>
                <th>Size2Unit</th>
                <td>{{ stock.size2Unit }}</td>
            </tr>
            <tr>
                <th>Size1Name</th>
                <td>{{ stock.size1Name }}</td>
            </tr>
            <tr>
                <th>Size2Name</th>
                <td>{{ stock.size2Name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ stock.price }}</td>
            </tr>
            <tr>
                <th>ProductFamily</th>
                <td>{{ stock.productFamily }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ stock.reference }}</td>
            </tr>
            <tr>
                <th>Free</th>
                <td>{{ stock.free }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ stock.comment }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ stock.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stock_index') }}">back to list</a>

    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}">edit</a>

    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}