{% extends 'base.html.twig' %}

{% block title %}
	Check-out
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('stock') }}
{% endblock %}

{% block body %}
	{% include 'home/index.html.twig' %}
	<section class="all-stock">
		<section class="container">

			<div class="row">
				<h1 class="title-stock my-5 fw-bold text-primary">Check-out</h1>
			</div>

			<ul class="nav nav-tabs mx-5">
				<li class="nav-item">
					<a class="tabs nav-link" aria-current="page" href="{{ path('app_checkout_final')}}">Check-out</a>
				</li>
				/
				<li class="nav-item">
					<a class="tabs nav-link" href="{{ path('app_checkout_final_difference')}}">Instructions</a>
				</li>
			</ul>

			<div class="row mb-4">
				<div class="col-9">
					{{ form_start(form) }}
					<div class="row">
						<div class="col">
							{{ form_widget(form) }}
						</div>
						<div class="col">
							<button class="bout-search btn btn-tertiary mt-4">{% include 'icons/Search.svg' %}</button>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>

			{% set sorted_matrices = stock_data_matrices|sort((a, b) => a.SKU <=> b.SKU) %}

			<table class="table">
				<thead>
					<tr>
						<th class="border-top-0 border-bottom-0"></th>
						<th class="border-top-0 border-bottom-0">SKU</th>
						<th class="border-top-0 border-bottom-0">Description</th>
						<th class="border-top-0 border-bottom-0">Dimensions</th>
						<th class="border-top-0 border-bottom-0">Résultat</th>
						<th class="border-top-0 border-bottom-0">Prix</th>
						<th class="border-top-0 border-bottom-0">Famille produit</th>
						<th class="border-top-0 border-bottom-0">Référence</th>
						<th class="border-top-0 border-bottom-0"></th>

					</tr>
				</thead>
				<tbody>
					{% for matrice in sorted_matrices %}
						{% set skuTrouve = false %}
						{% for stock in stocks %}
							{% if matrice.SKU == stock.SKU and matrice.description == stock.description and 
								matrice.productFamily == stock.productFamily
							 %}
								{% set skuTrouve = true %}
								<tr class="valid">
									<td class="valid border-top-0 text-primary">STOCK</td>
									<td class="valid border-top-0">...{{ stock.SKU|slice(-8) }}</td>
									<td class="valid border-top-0">{{ stock.description }}</td>
									<td class="valid border-top-0">
										{{ stock.size1Name }}&nbsp;:
										{{ stock.size1 }}
										{{ stock.size1Unit }}
										x
										{{ stock.size2Name }}&nbsp;:
										{{ stock.size2 }}
										{{ stock.size2Unit }}
									</td>
									<td class="valid border-top-0">
										{% if stock.surface == null %}
											{% if  stock.size1unit == "mm"  and  stock.size2Unit == "m"  %}
												{{ (stock.size1 / 1000)  *  stock.size2 }}
												m²
											{% elseif  stock.size1Unit == 'unité'  and  stock.size2Unit == 'mL'  %}
												{{ (stock.size1 * (stock.size2 / 1000 )) }}
												L
											{% elseif  stock.size1Unit == 'mm'  and  stock.size2Unit == 'mm'  %}
												{{ (stock.size1 * stock.size2) / 1000000 }}
												m²
											{% endif %}
										{% else %}
											{% if  stock.size1unit == "mm"  and  stock.size2Unit == "mm"  %}
												{{ stock.surface / 1000000 }}
												m²
											{% elseif  stock.size1Unit == 'unité'  and  stock.size2Unit == 'mL'  %}
												{{ stock.surface }}
												L
											{% endif %}
										{% endif %}
									</td>
									<td class="valid border-top-0">{{ stock.price }}&nbsp;€</td>
									<td class="valid border-top-0">{{ stock.productFamily }}</td>
									<td class="valid border-top-0">{{ stock.reference }}</td>
									<td class="valid border-top-0 badge text-bg-success mt-4">Valide</td>
								</tr>
								<tr class="valid">
									<td class="valid border-top-0 text-primary">CHECKOUT</td>
									<td class="valid border-top-0">...{{ matrice.SKU|slice(-8) }}</td>
									<td class="valid border-top-0">{{ matrice.description }}</td>
									<td class="valid border-top-0">
										{{ matrice.size1Name }}&nbsp;:
										{{ matrice.size1 }}
										{{ matrice.size1Unit }}
										x
										{{ matrice.size2Name }}&nbsp;:
										{{ matrice.size2 }}
										{{ matrice.size2Unit }}
									</td>
									<td class="valid border-top-0">
										{% if matrice.surface == null %}
											{% if  matrice.size1unit == "mm"  and  matrice.size2Unit == "m"  %}
												{{ (matrice.size1 / 1000)  *  matrice.size2 }}
												m²
											{% elseif  matrice.size1Unit == 'unité'  and  matrice.size2Unit == 'mL'  %}
												{{ (matrice.size1 * (matrice.size2 / 1000 )) }}
												L
											{% elseif  matrice.size1Unit == 'mm'  and  matrice.size2Unit == 'mm'  %}
												{{ (matrice.size1 * matrice.size2) / 1000000 }}
												m²
											{% endif %}
										{% else %}
											{% if  matrice.size1unit == "mm"  and  matrice.size2Unit == "mm"  %}
												{{ matrice.surface / 1000000 }}
												m²
											{% elseif  matrice.size1Unit == 'unité'  and  matrice.size2Unit == 'mL'  %}
												{{ matrice.surface }}
												L
											{% endif %}
										{% endif %}
									</td>
									<td class="valid border-top-0">{{ matrice.price }}&nbsp;€</td>
									<td class="valid border-top-0">{{ matrice.productFamily }}</td>
									<td class="valid border-top-0">{{ matrice.reference }}</td>
									<td class="valid border-top-0 badge text-bg-success mt-4">Valide</td>

								</tr>

								<!-- Ajouter une ligne vide après chaque ligne de matrice -->
								<tr>
									<td colspan="9" class="valid space-background">&nbsp;</td>
								</tr>
							{% endif %}
						{% endfor %}
						{% if not skuTrouve %}
							<!-- Afficher le message d'erreur 'Erreur' pour les SKUs non trouvés -->
							<tr class="invalid">
								<td class="invalid border-top-0 text-danger fw-bold">ERREUR</td>
								<td class="invalid border-top-0 text-danger text-uppercase fw-bold">Une erreur est présente</td>
								<td class="invalid border-top-0 text-danger"></td>
								<td class="invalid border-top-0 text-danger"></td>
								<td class="invalid border-top-0 text-danger"></td>
								<td class="invalid border-top-0 text-danger"></td>
								<td class="invalid border-top-0 text-danger"></td>
								<td class="invalid border-top-0 text-danger"></td>
								<td class="invalid border-top-0 text-white badge text-bg-danger mt-4">Invalide</td>


							</tr>
							<!-- Ajouter une ligne vide après le message d'erreur 'Erreur' -->
							<!-- Afficher les informations sur la matrice qui n'a pas de correspondance -->
							<tr>
								<td class="invalid border-top-0 text-danger fw-bold">CHECKOUT</td>
								<td class="invalid border-top-0 fw-bold">...{{ matrice.SKU|slice(-8) }}</td>
								<td class="invalid border-top-0">{{ matrice.description }}</td>
								<td class="invalid border-top-0">
									{{ matrice.size1Name }}&nbsp;:
									{{ matrice.size1 }}
									{{ matrice.size1Unit }}
									x
									{{ matrice.size2Name }}&nbsp;:
									{{ matrice.size2 }}
									{{ matrice.size2Unit }}
								</td>
								<td class="invalid border-top-0">
										{% if matrice.surface == null %}
											{% if  matrice.size1unit == "mm"  and  matrice.size2Unit == "m"  %}
												{{ (matrice.size1 / 1000)  *  matrice.size2 }}
												m²
											{% elseif  matrice.size1Unit == 'unité'  and  matrice.size2Unit == 'mL'  %}
												{{ (matrice.size1 * (matrice.size2 / 1000 )) }}
												L
											{% elseif  matrice.size1Unit == 'mm'  and  matrice.size2Unit == 'mm'  %}
												{{ (matrice.size1 * matrice.size2) / 1000000 }}
												m²
											{% endif %}
										{% else %}
											{% if  matrice.size1unit == "mm"  and  matrice.size2Unit == "mm"  %}
												{{ matrice.surface / 1000000 }}
												m²
											{% elseif  matrice.size1Unit == 'unité'  and  matrice.size2Unit == 'mL'  %}
												{{ matrice.surface }}
												L
											{% endif %}
										{% endif %}
								</td>
								<td class="invalid border-top-0">{{ matrice.price }}&nbsp;€</td>
								<td class="invalid border-top-0">{{ matrice.productFamily }}</td>
								<td class="invalid border-top-0">{{ matrice.reference }}</td>
								<td class="invalid border-top-0 text-white badge text-bg-danger mt-4">Invalide</td>
							</tr>
							<!-- Ajouter une ligne vide après chaque ligne de matrice sans correspondance -->
							<tr class="invalid">
								<td colspan="9" class="invalid space-background">&nbsp;</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</section>
	</section>
{% endblock %}
