{% extends 'base.html.twig' %}

{% block title %}
	Check-out
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('stock') }}
{% endblock %}

{% block body %}
	{% include 'home/index.html.twig' %}
	<section class="all-stock">
		<section class="container">

			<div class="row">
				<h1 class="title-stock my-5 fw-bold text-primary">Instructions</h1>
			</div>

			<ul class="nav nav-tabs mx-5">
				<li class="nav-item">
					<a class="tabs nav-link" aria-current="page" href="{{ path('app_checkout_final')}}">Check-out</a>
				</li>
				/
				<li class="nav-item">
					<a class="tabs nav-link" href="{{ path('app_checkout_final_difference')}}">Instructions</a>
				</li>
			</ul>

			<div class="row mb-4">
				<div class="col-9">
					{{ form_start(form) }}
					<div class="row">
						<div class="col">
							{{ form_widget(form) }}
						</div>
						<div class="col">
							<button class="bout-search btn btn-tertiary mt-4">{% include 'icons/Search.svg' %}</button>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>

			{% set invalid_matrices = [] %}

			{% set stock = [] %}
			{# Ajout de la définition de la variable 'stock' #}

			{% for matrice in stock_data_matrices %}
				{% set matrice_valid = false %}
				{% for stock_item in stocks %}
					{# Utilisation d'un nom différent pour éviter les conflits #}
					{% set stock = stock_item %}
					{# Affectation de la valeur actuelle de 'stock' #}
					{% if matrice.SKU == stock.SKU and
                            matrice.productFamily == stock.productFamily
                            and matrice.description == stock.description
                            and matrice.reference == stock.reference
                        %}
						{% set matrice_valid = true %}
					{% endif %}
				{% endfor %}

				{# Si la matrice est invalide, l'ajouter à la liste des matrices invalides #}
				{% if not matrice_valid %}
					{% set invalid_matrices = invalid_matrices|merge([matrice]) %}
				{% endif %}
			{% endfor %}

<div class="instructions">
			{% if invalid_matrices %}
				{% for matrice in invalid_matrices %}
					
                        <p class="fw-bold text-danger text-uppercase pt-5">
						{% if matrice.description != stock.description and matrice.reference != stock.reference and matrice.productFamily != stock.productFamily %}
							Pour l'élément numéro :
							<span class="fs-5 text-black">{{ matrice.SKU }}</span>, l'élément ne correspond pas entre le stock et le checkout, il a sûrement été déclaré vide dans le stock, veuillez vérifier !
						{% else %}
							Pour l'élément numéro :
							<span class="fs-5 text-black">{{ matrice.SKU }}</span>,
							{% if matrice.description != stock.description %}
								 la description ne correspond pas entre le stock et le checkout, veuillez vérifier ! 
							{% endif %}
							{% if matrice.reference != stock.reference %}
								 la référence ne correspond pas entre le stock et le checkout, , veuillez vérifier ! 
							{% endif %}
							{% if matrice.productFamily != stock.productFamily %}
								 la famille de produit ne correspond pas entre le stock et le checkout, , veuillez vérifier ! 
							{% endif %}
						{% endif %}
					</p>

			{% endfor %}

		{% else %}
			<p>Aucune matrice invalide trouvée.</p>
		{% endif %}
        	</div>
	</section>
</section>{% endblock %}
